@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-color: #21251f;
  --primary-color: #c8f560;
  --secundary-color: #edf2f4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secundary-color);
}
input,
button {
  color: var(--bg-color);
}

a {
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}
.container h1 {
  font-size: 4rem;
  font-family: 'Lobster', sans-serif;
  user-select: none;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.575rem;
  width: 600px;
}

.input-container {
  width: 600px;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.suggestion a {
  font-size: 1rem;
  color: var(--bg-color);
}

form #search {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
form input[type='submit'] {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;

  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  background-color: var(--bg-color);
  color: var(--secundary-color);
  &:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
  }
}
.container-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem 0;
}
.card-image {
  overflow: hidden;
  height: 300px;
}
.card-image img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  transition: 0.2s;
  &:hover {
    transform: scale(1.05);
  }
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: 0.2s;
  cursor: pointer;
}

#footer {
  display: flex;
  width: 100%;
  padding: 2rem;
  color: var(--secundary-color);
  background-color: var(--bg-color);
  justify-content: space-between;
  align-items: center;
}

#footer a {
  transition: 0.3s;
  color: var(--primary-color);
}

#footer ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.perfil {
  font-size: 1.125rem;
}

.perfil p {
  font-style: italic;
}

.perfil span {
  font-weight: bold;
  color: var(--primary-color);
}

@media (max-width: 600px) {
  html {
    font-size: 0.875rem;
  }

  .input-container,
  form {
    width: 100%;
  }

  #footer {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 0.725rem;
  }
}
