@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #099;
  color: white;
}
input,
button {
  color: #333;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}
.container h1 {
  user-select: none;
}
form {
  display: flex;
  box-shadow: 4px 4px 0 #333;
}
form #search {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
}
form input[type='submit'] {
  padding: 0.1rem 0.5rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: #077;
    color: white;
  }
}
.container-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.card-image {
  overflow: hidden;
  height: 300px;
  box-shadow: 8px 8px 0 #077;
}
.card-image img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  transition: 0.2s;
  &:hover {
    transform: scale(1.05);
  }
}

.btn {
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  box-shadow: 4px 4px 0 #333;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    background-color: #077;
    color: white;
  }
}
